body
{

background-image: url('a.jpg');
}
.img1
{
padding: 50px;	
}
.img2
{
padding: 150px;	
}
.img3
{
padding: 250px;	
}
#a1:hover
{
	background-color: purple;
	border: 2px solid blue;
}
.button,.button1,.button2,.button3,.button4,.button5,.button6,.button7
{
border: none;
background: #00FF7F;
color: black !important;
left: 50px;
font-weight: 100;
padding: 20px;
font-size: 20;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
}
div.img {
    margin: 100px;
    float: left;
    width: 150px;
    size: 300;
    padding: 25px;
}	

.header{
	background-color: black;
	line-height: 100px;
	padding: 2px;
	margin: 2px solid yellow;
	font-family:Copperplate gothic bold; 
}
footer {
	bottom: 0;
	left: 0;
	right: 0;
	height: 5%;
  }
  footer h2{
	text-align: center;
	color: black;
  }