body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(a.jpg);
    
}
#a1:hover
{
	background-color: purple;
	border: 2px solid blue;
}
.button,.button1,.button2,.button3,.button4,.button5,.button6,.button7
{
border: none;
background: #00FF7F;
color: black !important;
left: 50px;
font-weight: 100;
padding: 20px;
font-size: 20;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
}

.header{
	background-color: black;
	line-height: 100px;
	padding: 2px;
	margin: 2px solid yellow;
	font-family:Copperplate gothic bold; 
}
.sign_up_form
{
    width: 300px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0,0.3);
    background: #fff;
    padding: 20px;
    margin: 2% auto 0;
    border-radius: 20px;
    text-align: center;

}
.sign_up_form h1
{
    color: #FA8072;
    margin-bottom:30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.signup_btn
{
    background-color: #40e0d0;
}
.gmail_login_btn
{
    background-color: #40e0d0;
}

hr{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: white;
    width: 30px;
    margin: -19px auto 10px;
}
img
{
    width: 70px;
}
#b
{
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
  }
  footer h2{
    text-align: center;
    color: black;
  }